<!-- register_coordinator.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Cadastrar Coordenador</h3>
        </div>

        <!-- Mensagens de sucesso ou erro -->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}

        <!-- Formulário de cadastro -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a href="{% url 'superadmin_dashboard' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

